.modules-menu {
  .nav-item {
    @include flex-center-vertical;

    &.active {
      .nav-link {
        font-weight: 600;
        color: $primary;
      }
    }

    .nav-link {
      padding-right: .5rem;

      &:hover {
        color: $primary;
      }
    }

    span {
      cursor: pointer;
      color: $icon-color;
      font-size: 17px;
    }
  }
}