@media only screen and (max-width: 1700px) {
    .main-header2 ul li a {
        font-size: 13px;
    }
}
@media only screen and (max-width: 1500px) {
    .warehouse-home-item {
        width: 32%;
    }
    .table-scroll{
        overflow-x: auto;
    }

    #txt {
        font-size: 20px;
    }
    .main-header2 {
        display: none!important;
    }
    .menu-media {
        display: block;
    }

}
.table .fas{
    border: 1px solid lightgray !important;
    padding: 5px;

}
@media only screen and (max-width: 1200px) {
    .warehouse-home-item {
        width: 49%;
    }
}
@media only screen and (max-width: 780px) {
    .warehouse-home-item {
        width: 100%;
    }

}
.nots{
    width: 295px;
}
.table a,table th{
        color: black;
        font-size: 14px !important;
}

.dt-button{
    background: #0055a5!important;
}
.table thead tr {
    background-color: #0055a5!important;
    
    text-align: left;
}
.table thead th,.table thead th a{
    color: #ffffff !important;
}
.table thead th{
     border: 1px solid #dee2e6;
}
.table th,
.table td {
    border: 1px solid #dee2e6;
    padding: 12px 15px;
}
#page-content{
   background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%, rgba(0,212,255,0.10968137254901966) 100%);
}